.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 48px 40px 36px;
    border-radius: 5px;
    border: 50px grey;
    border-radius: 6px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}

.header1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}

.header2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.reset-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.text-field{
    padding-top: 30px;
}


.l1{
    color: #0d59ff;
}
.l2{
    color: #ee0000;
}
.l3{
    color: #d6ee00;
 }
 .l4{
    color: #0051ff;
 }
 .l5{
    color: #0ea800;
 }
 .l6{
    color: #ff0000;
 } 

 @media screen and (max-width: 600px){
    .main-container{
        width: 300px;
        border: none ;
        margin: 0px;
        padding-top: 20px;
    }
}