.parent3{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px 40px 36px 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-top: 50px;
    height: 400px;
    margin-top: 60px;
}

.heading3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.heading4{
    padding-top: 15px;
}
.main1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: larger;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    color: #3B3C3F;
}

.sub-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    color: #202124;
    font-size: 16px;
    font-weight: 400;
}

.input{
    padding-top: 30px;
}

.button-bottom1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 15px;
}

.l1{
    color: #0d59ff;
}
.l2{
    color: #ee0000;
}
.l3{
    color: #d6ee00;
 }
 .l4{
    color: #0051ff;
 }
 .l5{
    color: #0ea800;
 }
 .l6{
    color: #ff0000;
 } 

 @media screen and (max-width: 600px){
    .parent3{
        width: 300px;
        border: none ;
        margin: 0px;
        padding-top: 20px;
    }
}