/* .App {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh; */ 
    /* padding-top: 30px;
}

/* @media screen and (max-width: 600px){
  .App{
      display: flex;
      align-items: flex-start;
      border: none;
      padding-top: 10px;
  }
} */

